# Ignore specific files or folders within the included directories
.DS_Store
data/
results/
models/
notebooks/your_file_name.csv

#### Except: allow tracking of specific files and directories
!data/hamlet.txt

# Ignore IDE and editor files
.idea/         
.vscode/       

# Ignore Python-specific files
__pycache__/   
*.py[cod]      

# Ignore Jupyter notebook checkpoints 
.ipynb_checkpoints/