# Ignore everything by default
*

# Ignore specific files or folders within the included directories
data/Dataset
data/Wrist
.DS_Store

#### Except: allow tracking of specific files and directories
!.gitignore
!environment.yml
!README.md
!data/
!notebooks/


#### Except: .ideas files

# Version Control configuration
!vcs.xml

# how IDEA should treat the text files
!encodings.xml

# automatic code formatting
!codeStyleSettings.xml

# project specific words
!dictionaries

!copyrights
!misc.xml
!sqldialects.xml